* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.img-container {
    min-width: 40%;
    background-image: url('./images/background.jpeg');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.img-container .photo-credit {
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}
.img-container a {
    color: white;
}
.odin-banner {
    position: relative;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 3rem;
}
.odin-banner img {
    max-height: 75%;
}
.content {
    background-color: #f1e7da;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content>p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    max-width: 75%;
    margin-bottom: 1.5rem;
}
.content>p,
.input-container,
.submit-container {
    padding-left: 2rem;
    padding-right: 2rem;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.input-container>p {
    font-size: 1.3rem;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
ul li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 200px;
    padding-top: 2rem;
}
ul li:not(:last-of-type) {
    padding-right: 2rem;
}
.input-container {
    height: fit-content;
    background-color: white;
    box-shadow: 0 2px 5px grey;
}
input {
    appearance: none;
    outline: none;
    height: 1.8rem;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 4px;
}
.input-container label {
    font-size: 0.8rem;
}
button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: white;
    background-color: #084571;
    border-style: none;
    border-radius: 4px;
}
button:hover {
    cursor: pointer;
    color: #084571;
    background-color: white;
}
.submit-container * {
    margin-top: 1rem;
}
.submit-container p {
    font-size: 0.8rem;
}
.submit-container p a {
    text-decoration: none;
    color: #084571;
    font-weight: bold;
}
input + span {
    position: relative;
}
input + span::before {
    position: absolute;
    right: -1.2rem;
    bottom: 0.4rem;
}
input + span::after {
    position: absolute;
    top: 5px;
    color: red;
    font-size: 0.7rem;
    letter-spacing: 1px;
}
input[type='email']:invalid:not(:placeholder-shown):not(:focus) + span::after {
    content: "\f071  Please enter a valid email address";
    font-size: 0.7rem;
    font-weight: normal;
    font-family: FontAwesome;
}
input[type='tel']:invalid:not(:placeholder-shown):not(:focus) + span::after {
    content: '\f071  Please enter a 10-digit phone number';
    font-weight: normal;
    font-family: FontAwesome;
}
input:focus {
    box-shadow: 3px 3px 5px grey;
}
input:invalid:not(:placeholder-shown):not(:focus) {
    border: 2px solid red;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px red;
}
input:invalid:not(:placeholder-shown):not(:focus) + span::before {
    content: "✖";
    color: red;
}
input:valid:not(:focus) {
    border: 2px solid #33cc33;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px #33cc33;
}
input:valid:not(:focus) + span::before {
    content: "✓";
    color:#33cc33;
}
.error {
    color: red;
    font-size: 0.7rem;
}
.error:before {
    content: '\f071';
    font: normal normal normal 14px/1 FontAwesome;
}